/*
    IMPORTING FONTS FROM (GOOGLE FONTS)
*/
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

/*
    CREATING VARIABLES FOR COLORS IN GLOBAL SCOPE
*/
:root {
  /* --grey: hsl(212, 45%, 89%);
    --dark-cyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    --very-dark-cyan: hsl(157, 46%, 17%); */

  --white: hsl(0, 0%, 100%);
  --blue: hsl(216, 99%, 60%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
  --mainBgColor: hsl(210, 5%, 8%);
}

/*
    GENERALIZING COMMON REQUIRED STYLES & SHORT CSS RESET
*/
* {
  border: 0px solid black;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}
*::selection {
  /* Disables text highlighting */
  color: none;
  background: none;
}
*::-moz-selection {
  /* For Mozilla Firefox */
  color: none;
  background: none;
}

/*
    BODY SECTION
*/
html,
body {
  background-color: var(--mainBgColor);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--dark-blue);
  height: 100vh;
  display: flex;
}
/* 
    MAIN SECTION
*/

.card__qr {
  background-color: var(--white);
  width: 290px;
  height: 450px;
  display: flex;
  padding: 1rem;
  border-radius: 15px;
  box-shadow: 0 0px 20px 2px rgba(138, 105, 249, 0);
  -webkit-box-shadow: 0 0px 20px 2px rgba(138, 105, 249, 0);
  -moz-box-shadow: 0 0px 20px 2px rgba(138, 105, 249, 0);
  transition: 0.3s ease-out;
}
.card__qr:hover {
  box-shadow: 0 0px 20px 2px rgba(138, 105, 249, 0.7);
  -webkit-box-shadow: 0 0px 20px 2px rgba(138, 105, 249, 0.7);
  -moz-box-shadow: 0 0px 20px 2px rgba(138, 105, 249, 0.7);
  transition: 0.3s ease-out;
}
.card__qr-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.card__qr-image {
  overflow: hidden;
  border-radius: 10px;
  transition: 0.3s ease-out;
}
.card__qr-image img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transition: 0.3s ease-out;
  cursor: pointer;
}
.card__qr-image img:hover {
  transform: scale(1.1);
}

.card__qr-description {
  text-align: center;
  padding: 0 1rem;
}
.card__qr-description-title {
  font-weight: 700;
  font-size: 1.2rem;
  padding-bottom: 1rem;
}
.card__qr-description-text {
  font-size: 0.9rem;
  color: var(--grayish-blue);
}
